/3COrder/app/src/main/gen
/3COrder/bankCardLib/src/main/gen
/3COrder/excelpanel/src/main/gen
/3COrder/ocridcardlibrary/src/main/gen
/MyApplication
/3COrder/ocridcardlibrary/build
/3COrder/cropimage_library/build
/3COrder/ocridcardlibrary/local.properties
/ThirdPartyLoginDemo/.gradle
/ThirdPartyLoginDemo/.idea
/ThirdPartyLoginDemo/*.iml
/ThirdPartyLoginDemo/import-summary.txt
/ThirdPartyLoginDemo
