<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.giveu.shoppingmall"
    android:versionName="${VERSION_NAME_VALUE}">

    <permission
        android:name="com.giveu.shoppingmall.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required -->
    <uses-permission android:name="com.giveu.shoppingmall.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.intent.action.MEDIA_MOUNTED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!--地图相关权限-->

    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--指纹权限-->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <!-- Optional. Required for location feature -->
    <!-- jpush 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--高德地图服务-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="339b5c960c56a8890957f6cfee5bb32f" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".index.view.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".index.view.activity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="首次安装引导页"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".index.view.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!--广告页-->
        <activity
            android:name=".index.view.activity.AdSplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!--个人中心-->
        <activity
            android:name=".me.view.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="登录"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".me.view.activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="注册"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".me.view.activity.SetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="设置密码或重置密码"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".me.view.activity.RequestPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="找回密码"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".me.view.activity.FingerPrintActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="指纹解锁"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".me.view.activity.QuotaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="false"
            android:label="我的额度"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".me.view.activity.BillListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="false"
            android:label="账单"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <activity
            android:name=".me.view.activity.TransactionSearchActivity"
            android:label="交易查询" />

        <activity
            android:name=".me.view.activity.TransactionDetailActivity"
            android:label="交易详情" />

        <activity
            android:name=".me.view.activity.CreditDetailActivity"
            android:label="分期明细" />

        <activity
            android:name=".cash.view.activity.AddAddressActivity"
            android:label="添加地址" />

        <activity
            android:name=".cash.view.activity.AddressManageActivity"
            android:label="收货地址管理" />

        <!--取现-->
        <activity
            android:name=".cash.view.activity.VerifyActivity"
            android:label="验证" />

        <activity
            android:name=".cash.view.activity.CaseRecordActivity"
            android:label="取现记录" />
        <activity
            android:name=".cash.view.activity.CashTypeActivity"
            android:label="取现类型页" />

        <!--支付宝支付-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>

        <!--图片选择列出所有图片-->
        <activity
            android:name=".widget.imageselect.ImageSelectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--图片选择预览图片-->
        <activity
            android:name=".widget.imageselect.Act_ImagePreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.imageselect.Act_ImageSelectPreActivity"
            android:label="选择图片控件图片预览"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:label="头像裁剪" />


        <!--创建图案锁-->
        <activity
            android:name=".me.view.activity.CreateGestureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!--图案锁登录-->
        <activity
            android:name=".me.view.activity.GestureLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!--锁屏验证密码-->
        <activity
            android:name=".me.view.activity.VerifyPwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />


        <!--开发人员调试界面-->
        <activity
            android:name=".me.view.activity.DevSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".index.view.activity.WalletActivationFirstActivity"
            android:label="钱包激活首页" />
        <activity
            android:name=".index.view.activity.WalletActivationSecondActivity"
            android:label="钱包激活二级页" />
        <activity
            android:name=".index.view.activity.ActivationStatusActivity"
            android:label="钱包激活状态" />
        <activity
            android:name=".index.view.activity.TransactionPwdActivity"
            android:label="钱包激活设置交易密码" />
        <activity
            android:name=".me.view.activity.BankActivity"
            android:label="支持银行卡列表" />
        <activity
            android:name=".me.view.activity.AddBankCardFirstActivity"
            android:label="添加银行卡首页" />
        <activity
            android:name=".me.view.activity.AddBankCardSecondActivity"
            android:label="添加银行卡二级页" />
        <activity
            android:name=".me.view.activity.CommonProblemActivity"
            android:label="常见问题页" />
        <activity
            android:name=".me.view.activity.FeedbackListActivity"
            android:label="处理记录页" />
        <activity
            android:name=".me.view.activity.CustomerServicePhoneActivity"
            android:label="客服电话页" />
        <activity
            android:name=".me.view.activity.ProblemFeedbackActivity"
            android:label="问题反馈页" />
        <activity
            android:name=".me.view.activity.ContactUsActivity"
            android:label="联系我们页" />
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.giveu.shoppingmall" />
            </intent-filter>
        </service>

        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name=".me.view.activity.CustomerPushReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.giveu.shoppingmall" />
            </intent-filter>
        </receiver>

        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58d9fc2f65b6d60865001bbc" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="3COrder" />
    </application>

</manifest>